:root {
  font-size: -1px;
}

body {
  font-size: 1rem;
}

button {
  font-size: 0.875rem;
  padding: .5em 1em;
  border: .125em solid #e3e3e3;
}

@media (min-width: 48rem) {
  button {
    font-size: 1.125rem;
  }
}

@media (min-width: 62rem) {
  button {
    font-size: 1.375rem;
  }
}

.container {
  font-size: .875rem;
  width: 80rem;
}

.container button {
  font-size: .875rem;
  padding: .5em 1em;
  border: .125em solid #e3e3e3;
}

@media (min-width: 48rem) {
  .container button {
    font-size: 1.125rem;
  }
}

@media (min-width: 62rem) {
  .container button {
    font-size: 1.375rem;
  }
}
